.top-container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-; */
}

body{
    background: radial-gradient(circle, #4f46e4 10%, transparent 11%);
    background-size: 3em 3em;
    background-color: #ffffff;
    opacity: 0.7
}

.container{
    position: relative;
    /* border-image: conic-gradient(red,blue,red); */
    border-width: 4px;
    border-radius: 50px;
    z-index: 1;
    background: #649efa;


}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes spin {
    from{
        --angle: 0deg;
        
    }to{
        --angle: 360deg;
        
    }
}

.card{
    text-align: center;
    z-index: 1;
    width: 80vw;
    margin: 15%;
    background: none;
    /* filter: blur(0.05rem); */
    border: none;
}

h1{
    position: relative;
    font-family: DejaVu Sans Mono, monospace	;
    text-align: center;
    font-size: 10vh;
    color: white;
    width: 100%;
}

        
/* .container::before{
            filter: blur(4rem);
            opacity: 0.75;
}  */
  
.container{
    position: relative;
    filter: drop-shadow(0 0 100px rgba(0,255, 255, 0.8));
    
}

p{
    position: relative;
    text-align: center;
    font-size: 3vh;
    color: white;
    font-family: DejaVu Sans Mono, monospace;
}

.line{
    border: rgb(255, 255, 255) solid 2px;
    /* filter: blur(); */
}

h2{
    color: white;
    text-align: center;
    font-family: DejaVu Sans Mono, monospace;
}