.container-fluid{
    position: relative;
    background-color: hsl(0, 0%, 100%);
    top: -125px;
    height: 700px;
    /* bottom: -200px; */
    /* padding-top: 150%;  */
    padding-bottom: 30%;

}
.bg-body-tertiary{
    background-color: rgb(255, 255, 255);
}

.nav-item{   
    font-family: 'Times New Roman', Times, serif;
    
}

body{
    background-color: rgb(95, 169, 255);
}


.navbar-nav .nav-link {
  /* padding: 1% 0%; */
  font-size: 1.5rem;
  justify-content: space-around;
}
.navbar-brand{
    font-size: 1.5rem;
}

