.VoteList_main-container {
    display: flex;
}

.post-input-main {
    padding: 3vh;
    display: flex;
    flex-direction: column;
}

.post-input-color {
    padding: 1vh;
    background-color: rgb(255, 255, 255);
}

.description {
    height: 30vh;
    overflow-wrap: break-word; 
}

h1 {
    padding-top: 3vh;
    padding-left: 3vh;
    font-size: 40px;
    justify-self: flex-start;
}